extend ../layout
include ../mixin/metrics
include ../mixin/arb-fees
include ../mixin/linked

append vars
  - bundle = 'user/profile'
  - full_content = true
  - page_title_suffix = user.username + (user.full_name ? ' ('+user.full_name+')' : '')
  - meta_image = user_image(user.username, 'full')
  - meta_desc = user.username
  if user.full_name
    - meta_desc += ' (' + user.full_name + ')'
  if user.title
    - meta_desc += ', ' + user.title.replace(/[ .]+$/, '')
  - meta_desc += ' - ratings & reputation at Bitrated, the trust platform for the cryptocurrency economy. Buyer protection, smart contracts and reputation management.'
  - active_user_menu = 'activity'

append css
  +css('user/profile.css')

block content
  - url = user_url(user.username)
  article.profile(data-username=user.username)
    header: .container: .row
      .banner.col-md-9.col-md-offset-3.col-sm-8.col-sm-offset-4
        h1.clearfix
          a.profile-img.mobi(href=user_url(user.username))
            img(src=user_image(user.username, 'thumb'))
          a.user-link(href=url)= user.username
          +score(user.username, user.scores)
        h4= user.title
        +user_metrics(user, 'big', active_user_menu)
          li.activity(class=active_user_menu=='activity'?'active':null): a(href=url) #[span.num &#8203;] #[span.caption activity]

    .profile-body: .container: .row

      .tabs.col-md-9.col-md-push-3.col-sm-8.col-sm-push-4
        block user-header
        block user-content

      .sidebar.col-md-3.col-md-pull-9.col-sm-4.col-sm-pull-8
        include inc/sidebar
